/* robotWebUI.css */
body {
    font: 100% Lucida Sans;
    margin: 20px;
    line-height: 26px;
}

#h3 {
    background-color: #f6d8f8;
}
#i {
    background-color: #fcf881;
}

#main {
	font: 80% Lucida Sans;
    margin: 0 5px;
}

#bottom {
     padding: 5px;
    font-size: 70%;
    line-height: 14px;
    
}

#robots {
    background-color: #d9f7d6;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 80%;
    border-collapse: collapse;
}

#robots td  {
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}
